<h1>All Users</h1>

<ul class="users">
    <% @users.each do |user| %>
        <li>
            <%= user.birthday %> - <%= user.first_name %>
        </li>
    <% end %>
</ul>

<p> Today's date is <%= Time.zone.now.month %>/<%= Time.zone.now.day %>. </p>
<% today_month = Time.zone.now.month %>
<% today_day = Time.zone.now.day %>

<% user_month = 0 %>
<% user_day = 0 %>

<% days_till = 0 %>
<% counter = 0 %>
<% checker = false %>
<% arr = Array.new %>

<% while counter < 366 %>

    <% @users.each do |user| %>
        <% user_month_string = user.birthday.slice(0..1) %>
        <% user_month = user_month_string.to_i %>

        <% user_day_string = user.birthday.slice(3..4) %>
        <% user_day = user_day_string.to_i %>


        <% if today_month == user_month && today_day == user_day %>
            <% arr.push(user) %>
            <% checker = true %>
        <% end %>
    <% end %>
        <% if checker != true %>
            <% days_till = days_till + 1 %>
            <% today_day = today_day +1 %>
        <% else %>
            <% today_day = 100 %>
        <% end %>

        <% counter = counter + 1 %>
<% end %>

<p> <%= days_till %> </p>

<% for i in arr %>
    <p> <%= i.first_name %> <%= i.last_name %> </p>
<% end %>